<div class=" testimonials testimonial-0 row">

  <div class="col-12">
    <div class="row introduction-para">
      <img src="assets/logo/v4.png" alt="">
      <p>Duis sint in deserunt mollit incididunt elit laborum commodo ad. Cillum dolor ut labore eu excepteur deserunt ad mollit in. Dolore adipisicing qui in minim aliqua culpa reprehenderit qui dolore. Eu quis consequat cillum eiusmod et sint laboris. Fugiat aliqua adipisicing pariatur nisi laboris consectetur non sit pariatur commodo qui duis excepteur eu.</p>
      <h2>Sub-header</h2>
      <p>Cupidatat do magna et non anim laboris dolor aliquip excepteur excepteur incididunt. Nisi et excepteur sit qui ut nostrud dolor eu duis id reprehenderit. Cupidatat duis nostrud occaecat consectetur veniam magna adipisicing laboris tempor aliqua. Incididunt sit voluptate qui sunt in eu consectetur aliqua incididunt et. Labore qui in officia ex exercitation magna laboris consequat proident adipisicing aute consectetur. Est cupidatat eu deserunt consequat incididunt incididunt laborum aute id id exercitation ex. Quis dolore consequat dolor enim magna incididunt laboris et aute cupidatat tempor ut minim consectetur ex.</p>
      <h2>Sub-header</h2>
      <p>Nostrud veniam tempor cupidatat duis nisi esse qui. Aute voluptate mollit duis quis eiusmod ut aliquip qui duis enim quis consectetur id incididunt. Ipsum do ea id eu eiusmod ut labore culpa ex irure anim nostrud tempor ex excepteur sit voluptate. Duis in officia magna tempor deserunt ullamco in irure laboris adipisicing. Irure elit dolore aliquip do ut aliqua Lorem labore eiusmod minim consectetur veniam et consequat mollit sit.</p>
      <h2>Sub-header</h2>
      <p>Ea ipsum ut laboris fugiat ullamco pariatur ad. Irure deserunt elit dolore incididunt sint aute veniam ex sit cillum elit nisi. Irure fugiat dolor irure aute laborum est culpa irure fugiat exercitation labore quis occaecat.</p>
    </div>
  </div>



  <div class="col-12 col-lg-6">
    <div class="row">
      <img class="col-12 col-sm-6" src="assets/intro-thumbnails/tier-s.jpg" alt="tier-s" />
      <div class="col-12 col-sm-6">
        <h2>Tier - S</h2>
        <p> The realm of million pound plus hypercars that most of us only dream about driving.</p>
        <p>SuperMegaDriveZ can make that dream a reality.</p>

        <p class="myButton">
          <a class="btn btn-lg" href="#" role="button">View Tier - S</a>
        </p>

      </div>
    </div>

    <div class="row">
      <img class="col-12 col-sm-6" src="assets/intro-thumbnails/tier-1.jpg" alt="tier-s" />
      <div class="col-12 col-sm-6">
        <h2>Tier - 1</h2>
        <p>Excepteur eu nulla elit officia ea mollit anim tempor pariatur officia.</p>
        <p>Quis elit et dolor incididunt proident aute proident.</p>

        <p class="myButton">
          <a class="btn btn-lg" href="#" role="button">View Tier - 1</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <div class="row">
      <img class="col-12 col-sm-6" src="assets/intro-thumbnails/tier-2.jpg" alt="tier-s" />
      <div class="col-12 col-sm-6">
        <h2>Tier - 2</h2>
        <p>Eu duis proident id ex nulla voluptate magna occaecat ex labore dolor aliqua ipsum pro</p>
        <p>Eu dolore duis officia excepteur mollit laborum</p>

        <p class="myButton">
          <a class="btn btn-lg" href="#" role="button">View Tier - 2</a>
        </p>

      </div>
    </div>

    <div class="row">
      <img class="col-12 col-sm-6" src="assets/intro-thumbnails/tier-3.jpg" alt="tier-s" />
      <div class="col-12 col-sm-6">
        <h2>Tier - 3</h2>
        <p> Dolor ut ex sunt culpa ad reprehenderit nisi veniam mollit est duis deserunt nisi.</p>
        <p>Nisi amet enim duis velit fugiat qui cupidatat eu in.</p>

        <p class="myButton">
          <a class="btn btn-lg" href="#" role="button">View Tier - 3</a>
        </p>

      </div>
    </div>

  </div>

</div>
<!-- Text-Area-1 -->
<div class="text-area text-area-1 row">

  <div class=" text-area-header col-12 col-md-6">
    <h1>S - Tier</h1>
  </div>

  <div class="row text-area-text col-12 col-md-6">
    <div class="col col-sm-6 ">
      <h2>Power</h2>
      <p>600+ bhp</p>

      <h2>Average Car Value</h2>
      <p>£1,000,000</p>
    </div>

    <div class="col col-sm-6">
      <h2>Average Top Speed</h2>
      <p>230mph</p>

      <h2>Transmission</h2>
      <p>Auto / Manual</p>
    </div>

    <p class="text-area-button">
      <a class="btn btn-lg" href="#" role="button">View Tier - S</a>
    </p>

  </div>
</div>

<!-- In Between -->
<div class="testimonials testimonial-1 row">
  <div class="col">
    <h1>Simple Paragraphs</h1>
    <p>Eu nisi in reprehenderit sint cillum ad in non aute quis id. Sunt incididunt esse veniam sit laborum occaecat anim nisi adipisicing ad sit. Fugiat reprehenderit occaecat sit commodo nulla pariatur fugiat proident nisi in incididunt.</p>

    <p>Est laborum ut in duis minim nulla eiusmod sunt. Excepteur quis cillum commodo cupidatat commodo ad sunt cupidatat sunt. Ea et minim nulla veniam fugiat laborum occaecat aute irure quis minim minim proident laborum aute duis. </p>

    <p>Ex laboris consectetur ipsum enim amet labore enim occaecat irure cupidatat ullamco in aliquip eiusmod ad quis excepteur.</p>
  </div>
</div>

<!-- Text-Area-2 -->
<div class="text-area text-area-2 row">

  <div class=" text-area-header col-12 col-md-6">
    <h1>Tier - 1</h1>
  </div>

  <div class="row text-area-text col-12 col-md-6">
    <div class="col col-sm-6 ">
      <h2>Power</h2>
      <p>400 - 600bhp</p>

      <h2>Average Top Speed</h2>
      <p>200mph</p>
    </div>

    <div class="col col-sm-6">
      <h2>Average Car Value</h2>
      <p>£600,000</p>

      <h2>Transmission</h2>
      <p>Auto / Manual</p>
    </div>

    <p class="text-area-button">
      <a class="btn btn-lg" href="#" role="button">View Tier - 1</a>
    </p>

  </div>
</div>

<!-- In Between -->
<div class="testimonials testimonial-2 row">
  <div class="col">
    <h1>Section with 2 Columns</h1>

    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Header-1</h2>
        <p>Cupidatat fugiat enim proident deserunt Lorem proident eu commodo anim pariatur. Cillum nulla reprehenderit sint non anim aute officia. Id irure tempor adipisicing ullamco nulla pariatur anim laborum id sit labore consectetur quis consequat
          consequat.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h2>Header-2</h2>
        <p>Irure consequat nulla Lorem reprehenderit esse pariatur eu elit cupidatat. Nostrud irure adipisicing est tempor eu consequat aute anim irure. Qui ex quis nulla sit nulla commodo eu cupidatat amet. Ut dolore irure aute occaecat deserunt id aliqua
          in minim occaecat amet.</p>

      </div>


    </div>
  </div>
</div>


<!-- Text-Area-3 -->
<div class="text-area text-area-3 row">

  <div class=" text-area-header col-12 col-md-6">
    <h1>Tier - 2</h1>
  </div>

  <div class="row text-area-text col-12 col-md-6">
    <div class="col col-sm-6 ">
      <h2>Power</h2>
      <p>300 - 400bhp</p>

      <h2>Average Top Speed</h2>
      <p>180mph</p>
    </div>

    <div class="col col-sm-6">
      <h2>Average Car Value</h2>
      <p>£450,000</p>

      <h2>Transmission</h2>
      <p>Auto / Manual</p>
    </div>

    <p class="text-area-button">
      <a class="btn btn-lg" href="#" role="button">View Tier - 2</a>
    </p>

  </div>
</div>

<!-- In Between -->
<div class="testimonials testimonial-3 row">
  <div class="col">
    <h1>Section with 3 Columns and 2 Rows</h1>

    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-1</h2>
        <p>Cupidatat fugiat enim proident deserunt Lorem proident eu commodo anim pariatur. Cillum nulla reprehenderit sint non anim aute officia. Id irure tempor adipisicing ullamco nulla pariatur anim laborum id sit labore consectetur quis consequat
          consequat.
        </p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-2</h2>
        <p>Irure consequat nulla Lorem reprehenderit esse pariatur eu elit cupidatat. Nostrud irure adipisicing est tempor eu consequat aute anim irure. Qui ex quis nulla sit nulla commodo eu cupidatat amet. Ut dolore irure aute occaecat deserunt id aliqua
          in minim occaecat amet.</p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-3</h2>
        <p>Nisi incididunt non anim irure est reprehenderit adipisicing. Tempor eu ad voluptate proident do consequat duis adipisicing. Tempor anim velit esse labore ipsum pariatur nulla dolor irure ullamco ex minim proident aute aliquip. Cupidatat culpa
          mollit officia velit ullamco officia laboris aute do et.</p>
      </div>


    </div>

    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-4</h2>
        <p>Cupidatat fugiat enim proident deserunt Lorem proident eu commodo anim pariatur. Cillum nulla reprehenderit sint non anim aute officia. Id irure tempor adipisicing ullamco nulla pariatur anim laborum id sit labore consectetur quis consequat
          consequat.
        </p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-5</h2>
        <p>Irure consequat nulla Lorem reprehenderit esse pariatur eu elit cupidatat. Nostrud irure adipisicing est tempor eu consequat aute anim irure. Qui ex quis nulla sit nulla commodo eu cupidatat amet. Ut dolore irure aute occaecat deserunt id aliqua
          in minim occaecat amet.</p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h2>Header-6</h2>
        <p>Nisi incididunt non anim irure est reprehenderit adipisicing. Tempor eu ad voluptate proident do consequat duis adipisicing. Tempor anim velit esse labore ipsum pariatur nulla dolor irure ullamco ex minim proident aute aliquip. Cupidatat culpa
          mollit officia velit ullamco officia laboris aute do et.</p>
      </div>


    </div>
  </div>
</div>

<!-- Text-Area-4 -->
<div class="text-area text-area-4 row">

  <div class=" text-area-header col-12 col-md-6">
    <h1>Tier - 3</h1>
  </div>

  <div class="row text-area-text col-12 col-md-6">
    <div class="col col-sm-6 ">
      <h2>Power</h2>
      <p>Up to 300bhp</p>

      <h2>Average Top Speed</h2>
      <p>150mph</p>
    </div>

    <div class="col col-sm-6">
      <h2>Average Car Value</h2>
      <p>£150,000</p>

      <h2>Transmission</h2>
      <p>Auto / Manual</p>
    </div>

    <p class="text-area-button">
      <a class="btn btn-lg" href="#" role="button">View Tier - 3</a>
    </p>

  </div>
</div>
<!-- In Between -->
<div class="testimonials testimonial-4 row">
  <div class="col">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-4">
        <h3>Small-Header - 1</h3>
        <p>Amet aliquip enim enim et in dolor quis enim id nulla consequat exercitation culpa tempor enim qui commodo. Ea ex irure laborum id nostrud qui quis irure occaecat proident. Culpa amet exercitation cupidatat dolore dolore tempor nisi eu elit
          exercitation non mollit ex aute amet voluptate ad. Cupidatat nostrud Lorem ea ipsum laboris minim mollit laborum occaecat velit laboris laboris cillum elit.</p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h3>Small-Header - 2</h3>
        <p>Occaecat irure magna et ea ad consequat nisi qui quis ea velit exercitation duis dolore consequat mollit. Irure magna est est do in consectetur exercitation nisi fugiat mollit. Commodo ipsum nisi adipisicing ut duis enim aute laboris. Aliquip
          nulla esse exercitation proident laboris ex ex fugiat irure cillum id dolor quis velit.</p>
      </div>

      <div class="col-12 col-sm-4 col-md-4">
        <h3>Small-Header - 3</h3>
        <p>Ea exercitation sint irure cillum duis culpa aliquip dolor officia occaecat. Culpa proident magna sunt Lorem ea magna cillum cillum eiusmod eiusmod sint. Id mollit dolore deserunt ipsum Lorem ad ea laborum labore mollit cillum enim mollit consectetur
          eiusmod consequat tempor.</p>
      </div>


    </div>
  </div>
</div>

<app-slider></app-slider>

<div class="testimonials testimonial-5 row">
  <div class="col">
    <h1>Uneven Section</h1>
    <div class="row">
      <div class="col-12 col-sm-7 col-md-8">
        <h2>Header - 1</h2>
        <p>Amet aliquip enim enim et in dolor quis enim id nulla consequat exercitation culpa tempor enim qui commodo. Ea ex irure laborum id nostrud qui quis irure occaecat proident.</p>
        <p>Culpa amet exercitation cupidatat dolore dolore tempor nisi eu elit exercitation non mollit ex aute amet voluptate ad. Cupidatat nostrud Lorem ea ipsum laboris minim mollit laborum occaecat velit laboris laboris cillum elit.</p>
      </div>


      <div class="col-12 col-sm-5 col-md-4">
        <h4>Smaller-Header - 1</h4>
        <p>Ea exercitation sint irure cillum duis culpa aliquip dolor officia occaecat. Culpa proident magna sunt Lorem ea magna cillum cillum eiusmod eiusmod sint.</p>
      </div>


    </div>

    <div class="row">
      <div class="col-12 col-sm-5 col-md-4">
        <h4>Smaller-Header - 2</h4>
        <p>Amet aliquip enim enim et in dolor quis enim id nulla consequat exercitation culpa tempor enim qui commodo. Ea ex irure laborum id nostrud qui quis irure occaecat proident. Culpa amet exercitation cupidatat dolore dolore tempor nisi eu elit
          exercitation non mollit ex aute amet voluptate ad.</p>
      </div>



      <div class="col-12 col-sm-7 col-md-8">
        <h2>Header - 2</h2>
        <p>Ea exercitation sint irure cillum duis culpa aliquip dolor officia occaecat. Culpa proident magna sunt Lorem ea magna cillum cillum eiusmod eiusmod sint. Id mollit dolore deserunt ipsum Lorem ad ea laborum labore mollit cillum enim mollit consectetur
          eiusmod consequat tempor.</p>

        <p>Excepteur incididunt excepteur ut nostrud proident ex quis sint duis laboris. Aliqua est voluptate ea sint aliqua est enim dolore adipisicing. Ex reprehenderit laboris occaecat exercitation aute quis ea anim reprehenderit consectetur est ipsum
          et enim.</p>
      </div>


    </div>
  </div>
</div>
