@import "src/sass/variables";
@import "src/sass/mixins";
@import "src/sass/media-queries";
//*{border:5px solid black}
h1,h2,h3,h4,h5,h6{
  font-family: $header-font;
}

p{
  font-family: $text-font;
}



.container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  .row {
    width: 100%;
    margin: 0;
  }
}

.first-layer {
  height: 100vh;
  //background-color: blue;
  background-image: url("/assets/map.jpg");
  @include generic-background-image-settings;
  color: white;
  font-size: 15rem;
  padding: 0;
  position: fixed;
  width: 100%;
}

.second-layer {
  background-color: $blue;
  //border: 5px solid black;
  box-shadow: -5px -5px 20px 0 $blue;
  //height: 100%;
  padding-bottom: 10rem;
  position: absolute;
  top: 100vh;
  width: 100%;

  .content-header {
    margin-top: 0;
    font-family: $header-font;

    h1 {
      margin: 0 auto;
    }
  }
  //Testimonals
  .testimonial-1 {
    background-color: $blue;
    color: white;
    @include testimonial-base-styles;
  }

  .testimonial-2 {
    color: $blue;
    background-color: white;
    @include testimonial-base-styles;
  }

  .testimonial-3 {
    background-color: $blue;
    color: white;
    @include testimonial-base-styles;
  }

  .testimonial-4 {
    color: $blue;
    background-color: white;
    @include testimonial-base-styles;
  }

  .text-area-1 {
    background-image: url("/assets/tier-s/chiron.png");
  }

  .text-area-2 {
    background-image: url("/assets/tier-1/ferrari.jpeg");
  }
  .text-area-3 {
    background-image: url("/assets/tier-2/bmwi8.jpg");
  }

  .text-area-4 {
    background-image: url("/assets/tier-3/skyline-r34-gtr.jpg");
  }

  .text-area {
    @include generic-background-image-settings;
    min-height: 50vh;

    .text-area-header {
      @include text-area-style;
    }

    .text-area-text {
      @include text-area-style;
      text-align: center;
    }
  }
  //Slider
  .slider {
    .col {
      padding: 0;
    }
  }

  .carousel-item {
    @include generic-background-image-settings;
    height: 100vh;
    min-height: 400px;
    max-height: 600px;
  }

  .slider-image-1 {
    background-image: url("/assets/slider/ferrari.jpeg");
  }

  .slider-image-2 {
    background-image: url("/assets/slider/lambo.jpeg");
  }

  .slider-image-3 {
    background-image: url("/assets/slider/lancia.jpeg");
  }
}
//Gallery

.gallery {
  div {
    @include generic-background-image-settings;
    height: 125px;
    padding: 0;
    text-align: center;

    p {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 1.2rem;
      height: 100%;
      padding-top: 2.5rem;
    }
  }

  .events {
    background-image: url("/assets/gallery/event.jpg");
  }

  .family {
    background-image: url("/assets/gallery/family.jpg");
  }

  .tutorials {
    background-image: url("/assets/gallery/tutorials.jpg");
  }

  .youtube {
    background-image: url("/assets/gallery/youtube.jpg");
  }

  .instagram {
    background-image: url("/assets/gallery/instagram.jpg");
  }

  .twitter {
    background-image: url("/assets/gallery/twitter.jpg");
  }
}
//Footer


.footer {
  div {
    //height: 100%;
    min-height: 150px;
    text-align: center;
  }

  .column-1 {
    background-color: red;
  }

  .column-2 {
    background-color: yellow;
  }

  .column-3 {
    background-color: purple;
  }
}
