@import "src/sass/variables";
@import "src/sass/mixins";
@import "src/sass/media-queries";
//*{border:5px solid black}
.container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  .row {
    width: 100%;
    margin: 0;
  }
}

.first-layer {
  height: 100vh;
  //background-color: blue;
  background-image: url("/assets/map.jpg");
  @include generic-background-image-settings;
  color: white;
  font-size: 15rem;
  padding: 0;
  position: fixed;
  width: 100%;
}

.second-layer {
  background-color: $blue;
  //border: 5px solid black;
  box-shadow: -5px -5px 20px 0 $blue;
  //height: 100%;
  padding-bottom: 10rem;
  position: absolute;
  top: 100vh;
  width: 100%;

  .content-header {
    margin-top: 0;

    h1 {
      margin: 0 auto;
    }
  }
  //Testimonals
  .testimonial-1 {
    background-color: $blue;
    color: white;
    @include testimonial-base-styles;
  }

  .testimonial-2 {
    color: $blue;
    background-color: white;
    @include testimonial-base-styles;
  }

  .testimonial-3 {
    background-color: $blue;
    color: white;
    @include testimonial-base-styles;
  }

  .text-area-1 {
    background-image: url("/assets/tier-s/chiron.png");
  }

  .text-area-2 {
    background-image: url("/assets/tier-1/ferrari.jpeg");
  }

  .text-area-3 {
    background-image: url("/assets/tier-2/bmwi8.jpg");
  }

  .text-area-4 {
    background-image: url("/assets/tier-3/skyline-r34-gtr.jpg");
  }

  .text-area {
    @include generic-background-image-settings;
    min-height: 50vh;
    .text-area-header {
      @include text-area-style;
    }

    .text-area-text {
      @include text-area-style;
      text-align: center;
    }
  }
}
