@import "src/sass/variables";
@import "src/sass/mixins";


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

a,
p {
  font-family: $text-font;
}
/*
.test1 {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}
.ng-hide {
  height: 50px;
  width: 100%;
  background-color: lightblue;
  position: relative;
  top:0;
  left: 0;
}
*/
//navbar

.navbar {
  background-color: $blue;
  color: $white;
  position: fixed;
  width: 100%;
  z-index: 100;

  button {
    font-size: 2.5rem;
    width: 100%;

    span {
      color: $white;
    }

    .navbar-brand {
      color: $white;
      font-size: inherit;
    }
  }
}

.navbar-nav {
  font-size: 2rem;

  .nav-item {
    padding: 1rem;
    @include navbar-navitem-border;

    a {
      color: $white;
    }

    .dropdown-menu {
      background-color: $white;
      border-radius: 0;
      font-size: 1.5rem;

      a {
        color: $blue;
        line-height: 5rem;
      }
    }
  }
}

.container {
  max-width: none;
  padding-left: 0;
  padding-right: 0;

  .row {
    width: 100%;
    margin: 0;
  }
}

.first-layer {
  height: 100vh;
  //background-color: blue;
  background-image: url("/assets/map.jpg");
  @include generic-background-image-settings;
  color: $white;
  font-size: 15rem;
  padding: 0;
  position: fixed;
  width: 100%;

  video{
    width: 100%;
  }
}

.second-layer {
  background-color: $blue;
  //border: 5px solid black;
  box-shadow: -5px -5px 20px 0 $blue;
  //height: 100%;
  padding-bottom: 10rem;
  position: absolute;
  top: 100vh;
  width: 100%;

  .content-header {
    margin-top: 0;
    font-family: $header-font;

    h1 {
      margin: 0 auto;
    }
  }
  //Testimonals
  .testimonial-1 {
    background-color: $blue;
    color: $white;
    @include testimonial-base-styles;
  }

  .testimonial-2 {
    color: $blue;
    background-color: $white;
    @include testimonial-base-styles;
  }

  .testimonial-3 {
    background-color: $blue;
    color: $white;
    @include testimonial-base-styles;
  }

  .testimonial-4 {
    color: $blue;
    background-color: $white;
    @include testimonial-base-styles;
  }

  .testimonial-5 {
    color: $white;
    background-color: $blue;
    @include testimonial-base-styles;
  }

  .testimonial-6 {
    color: $blue;
    background-color: $white;

    h6 {
      font-size: 3rem;
    }
    @include testimonial-base-styles;
  }
  //Fake Cars
  .fake-cars-wrapper {
    padding-top: 10rem;
    padding-bottom: 10rem;

    .fake-cars-logos {
      .row {
        height: 300px;

        div {
          @include background-image-settings-contain;
        }
      }

      .fake-1 {
        background-image: url("/assets/fake-logos/fake-aston-300x300.png");
      }

      .fake-2 {
        background-image: url("/assets/fake-logos/fake-audi-300x300.png");
      }

      .fake-3 {
        background-image: url("/assets/fake-logos/fake-ferrari-300x300.png");
      }

      .fake-4 {
        background-image: url("/assets/fake-logos/fake-honda-300x300.png");
      }

      .fake-5 {
        background-image: url("/assets/fake-logos/fake-tesla-300x300.png");
      }

      .fake-6 {
        background-image: url("/assets/fake-logos/fake-ford-300x300.png");
      }
    }
  }
  .text-area {
    @include generic-background-image-settings;
    min-height: 50vh;

    .text-area-header {
      @include text-area-style;
    }

    .text-area-text {
      @include text-area-style;
      text-align: center;
    }
  }
  .text-area-1 {
    background-image: url("/assets/tier-s/chiron.png");
    text-align: center;
    .text-area-header{
      color: $orange;
      text-decoration: underline;
    }
    .text-area-text{
      color:#C98504;
    }
  }

  .text-area-2 {
    background-image: url("/assets/tier-1/ferrari.jpeg");
  }

  .text-area-3 {
    background-image: url("/assets/tier-2/bmwi8.jpg");
  }

  .text-area-4 {
    background-image: url("/assets/tier-3/skyline-r34-gtr.jpg");
  }


  //Slider
  .slider {
    .col {
      padding: 0;
    }
  }

  .carousel-indicators {
    display: none;
  }

  .carousel-item {
    @include generic-background-image-settings;
    height: 100vh;
    min-height: 400px;
    max-height: 600px;

    .container{
      .carousel-caption{
        background-color: rgba(0,0,0,0.5);
        border-bottom: 1px solid $white;
        left: 0;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        ul{
          list-style-type: none;
        }
        .caption-button{
          //background-color: red;
          border-top: 1px solid white;
          text-align: right;
          float:right;
          width: 150px;
          a{
            color:$white;
            &:hover{text-decoration: underline;}
          }

        }
      }
    }
  }

  .slider-image-1 {
    background-image: url("/assets/slider/ferrari.jpeg");
  }

  .slider-image-2 {
    background-image: url("/assets/slider/lambo.jpeg");
  }

  .slider-image-3 {
    background-image: url("/assets/slider/lancia.jpeg");
  }
}
//Gallery

.gallery {
  div {
    @include generic-background-image-settings;
    height: 125px;
    padding: 0;
    text-align: center;

    p {
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      font-size: 1.2rem;
      height: 100%;
      padding-top: 2.5rem;
    }
  }

  .events {
    background-image: url("/assets/gallery/event.jpg");
  }

  .family {
    background-image: url("/assets/gallery/family.jpg");
  }

  .tutorials {
    background-image: url("/assets/gallery/tutorials.jpg");
  }

  .youtube {
    background-image: url("/assets/gallery/youtube.jpg");
  }

  .instagram {
    background-image: url("/assets/gallery/instagram.jpg");
  }

  .twitter {
    background-image: url("/assets/gallery/twitter.jpg");
  }
}
//Footer

.footer {
  div {
    //height: 100%;
    min-height: 150px;
    padding-top: 1rem;
    text-align: center;

    h4 {
      font-size: 2rem;
      text-decoration: underline;
    }
  }

  .column-1 {
    background-color: $blue;
    color: $white;
    @include first-2-column-styling;
  }

  .column-2 {
    background-color: $blue;
    color: $white;
    @include first-2-column-styling;
  }

  .column-3 {
    background-color: $blue;
    border-top: 1px solid rgba(255, 255, 255, 0.058823529411764705);
    border-bottom: 1px solid rgba(255, 255, 255, 0.058823529411764705);
    color: $white;
    padding-top: 2rem;

    div {
      p {
        max-height: 100px;
        @include background-image-settings-contain;

        &:hover {
          cursor: pointer;
        }
      }

      .fb {
        background-image: url("/assets/footer-icons/fb-100x100.png");
      }

      .instagram {
        background-image: url("/assets/footer-icons/instagram-100x100.png");
      }

      .twitter {
        background-image: url("/assets/footer-icons/twitter-100x100.png");
      }

      .youtube {
        background-image: url("/assets/footer-icons/youtube-100x100.png");
      }
    }
  }
}
@import "src/sass/media-queries"; //*{border:5px solid black}
