<!-- Fixed-Image -->
<div class="first-layer">First</div>

<div class="container second-layer">
  <div class="row content-header">
    <h1>Header</h1>
  </div>

  <!-- Text-Area-1 -->
  <div class="text-area text-area-1 row">

    <div class=" text-area-header col-12 col-md-6">
      <p>S - Tier</p>
    </div>

    <div class="row text-area-text col-12 col-md-6">
      <div class="col col-sm-6 ">
        <h1>Power</h1>
        <p>600+ bhp</p>

        <h1>Average Car Value</h1>
        <p>£1,000,000</p>
      </div>

      <div class="col col-sm-6">
        <h1>Average Top Speed</h1>
        <p>230mph</p>

        <h1>Transmission</h1>
        <p>Auto / Manual</p>
      </div>

    </div>
  </div>

<!-- In Between -->
<div class="testimonial-1 row">
  <div class="col">
    <h1>In Between</h1>
    <p>Eu nisi in reprehenderit sint cillum ad in non aute quis id. Sunt incididunt esse veniam sit laborum occaecat anim nisi adipisicing ad sit. Fugiat reprehenderit occaecat sit commodo nulla pariatur fugiat proident nisi in incididunt. Est laborum ut in duis minim nulla eiusmod sunt. Excepteur quis cillum commodo cupidatat commodo ad sunt cupidatat sunt. Ea et minim nulla veniam fugiat laborum occaecat aute irure quis minim minim proident laborum aute duis. Ex laboris consectetur ipsum enim amet labore enim occaecat irure cupidatat ullamco in aliquip eiusmod ad quis excepteur.</p>
  </div>
</div>

  <!-- Text-Area-2 -->
  <div class="text-area text-area-2 row">

    <div class=" text-area-header col-12 col-md-6">
      <p>Tier - 1</p>
    </div>

    <div class="row text-area-text col-12 col-md-6">
      <div class="col col-sm-6 ">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

      <div class="col col-sm-6">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

    </div>
  </div>

  <!-- In Between -->
  <div class="testimonial-2 row">
    <div class="col">
      <h1>In Between</h1>
      <p>Eu nisi in reprehenderit sint cillum ad in non aute quis id. Sunt incididunt esse veniam sit laborum occaecat anim nisi adipisicing ad sit. Fugiat reprehenderit occaecat sit commodo nulla pariatur fugiat proident nisi in incididunt. Est laborum ut in duis minim nulla eiusmod sunt. Excepteur quis cillum commodo cupidatat commodo ad sunt cupidatat sunt. Ea et minim nulla veniam fugiat laborum occaecat aute irure quis minim minim proident laborum aute duis. Ex laboris consectetur ipsum enim amet labore enim occaecat irure cupidatat ullamco in aliquip eiusmod ad quis excepteur.</p>
    </div>
  </div>


  <!-- Text-Area-3 -->
  <div class="text-area text-area-3 row">

    <div class=" text-area-header col-12 col-md-6">
      <p>Tier - 2</p>
    </div>

    <div class="row text-area-text col-12 col-md-6">
      <div class="col col-sm-6 ">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

      <div class="col col-sm-6">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

    </div>
  </div>

  <!-- In Between -->
  <div class="testimonial-3 row">
    <div class="col">
      <h1>In Between</h1>
      <p>Eu nisi in reprehenderit sint cillum ad in non aute quis id. Sunt incididunt esse veniam sit laborum occaecat anim nisi adipisicing ad sit. Fugiat reprehenderit occaecat sit commodo nulla pariatur fugiat proident nisi in incididunt. Est laborum ut in duis minim nulla eiusmod sunt. Excepteur quis cillum commodo cupidatat commodo ad sunt cupidatat sunt. Ea et minim nulla veniam fugiat laborum occaecat aute irure quis minim minim proident laborum aute duis. Ex laboris consectetur ipsum enim amet labore enim occaecat irure cupidatat ullamco in aliquip eiusmod ad quis excepteur.</p>
    </div>
  </div>

  <!-- Text-Area-4 -->
  <div class="text-area text-area-4 row">

    <div class=" text-area-header col-12 col-md-6">
      <p>Tier - 3</p>
    </div>

    <div class="row text-area-text col-12 col-md-6">
      <div class="col col-sm-6 ">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

      <div class="col col-sm-6">
        <h1>header</h1>
        <p>Text Area</p>

        <h1>header</h1>
        <p>Text Area</p>
      </div>

    </div>
  </div>

  <!-- Slider -->
  <div class="row">
    <div class="col">
      <h1>Slider</h1>
    </div>
  </div>

  <!-- Gallery -->
  <div class="row">
    <div class="col-4">Gallery</div>
    <div class="col-4">Gallery</div>
    <div class="col-4">Gallery</div>

    <div class="col-4">Gallery</div>
    <div class="col-4">Gallery</div>
    <div class="col-4">Gallery</div>
  </div>

  <!-- Footer -->
  <div class="row">
    <div class="col-4">Footer 1</div>
    <div class="col-4">Footer 2</div>
    <div class="col-4">Footer 3</div>
  </div>

</div>
