<div class="slider row">
  <div class="col">

    <div id="myCarousel" class="carousel slide" data-interval="0" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">

        <div class="carousel-item active slider-image-1">
          <div class="container">

            <div class="carousel-caption text-right">
              <h1>Porsche 911 GT3</h1>
              <div class="row">
                <ul class="col-7 col-md-9 col-lg-10">
                  <li>Tier: </li>
                  <li>Power: </li>
                  <li>Top Speed: </li>
                  <li>Transmission: </li>
                  <li>Value: </li>
                  <li>Weight: </li>
                  <li>Seats: </li>
                  <li>Track Record:</li>
                </ul>
                <ul class="col-5 col-md-3 col-lg-2">
                  <li> S</li>
                  <li> 500bhp</li>
                  <li> 212mph</li>
                  <li> 7-Speed-Manual</li>
                  <li> £600,000</li>
                  <li> 100kgs</li>
                  <li> 2</li>
                  <li> 1:23:113</li>
                </ul>
              </div>


              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">View Tier-S</a>
              </p>
              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">Book This Car</a>
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item slider-image-2">

          <div class="container">

            <div class="carousel-caption text-right">
              <h1>Porsche 911 GT3</h1>
              <div class="row">
                <ul class="col-7 col-md-9 col-lg-10">
                  <li>Tier: </li>
                  <li>Power: </li>
                  <li>Top Speed: </li>
                  <li>Transmission: </li>
                  <li>Value: </li>
                  <li>Weight: </li>
                  <li>Seats: </li>
                  <li>Track Record:</li>
                </ul>
                <ul class="col-5 col-md-3 col-lg-2">
                  <li> S</li>
                  <li> 500bhp</li>
                  <li> 212mph</li>
                  <li> 7-Speed-Manual</li>
                  <li> £600,000</li>
                  <li> 100kgs</li>
                  <li> 2</li>
                  <li> 1:23:113</li>
                </ul>
              </div>


              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">View Tier-S</a>
              </p>
              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">Book This Car</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item slider-image-3">

          <div class="container">

            <div class="carousel-caption text-right">
              <h1>Porsche 911 GT3</h1>
              <div class="row">
                <ul class="col-7 col-md-9 col-lg-10">
                  <li>Tier: </li>
                  <li>Power: </li>
                  <li>Top Speed: </li>
                  <li>Transmission: </li>
                  <li>Value: </li>
                  <li>Weight: </li>
                  <li>Seats: </li>
                  <li>Track Record:</li>
                </ul>
                <ul class="col-5 col-md-3 col-lg-2">
                  <li> S</li>
                  <li> 500bhp</li>
                  <li> 212mph</li>
                  <li> 7-Speed-Manual</li>
                  <li> £600,000</li>
                  <li> 100kgs</li>
                  <li> 2</li>
                  <li> 1:23:113</li>
                </ul>
              </div>


              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">View Tier-S</a>
              </p>
              <p class="caption-button">
                <a class="btn btn-lg" href="#" role="button">Book This Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>
