<div class="footer row">
  <div class="column-1 col-12 col-sm-6 col-md-4">
    <div class="row first-2-columns">

      <div class="col-6 ">
        <h4>Cars & Tiers</h4>
        <p class="col">S-Tier</p>
        <p class="col">Tier 1</p>
        <p class="col">Tier 2</p>
        <p class="col">Tier 3</p>
      </div>

      <div class="col-6">
        <h4>Booking</h4>
        <p class="col">Dates</p>
        <p class="col">Groups</p>
        <p class="col">Full Day Hire</p>
        <p class="col">Pricing</p>
      </div>
    </div>
  </div>

  <div class="column-2 col-12 col-sm-6 col-md-4">
    <div class="row first-2-columns">
      <div class="col-6">
        <h4>Saftety</h4>
        <p class="col">Insurance</p>
        <p class="col">Legal</p>
        <p class="col">Qualifications</p>
        <p class="col">Teaching</p>
      </div>

      <div class="col-6">
        <h4>Other</h4>
        <p class="col">Blog</p>
        <p class="col">Events</p>
        <p class="col">Family</p>
        <p class="col">Press</p>
      </div>
    </div>


  </div>

  <div class="column-3 col-12 col-md-4">

    <h4>Contact Us</h4>
    <div class="row">
      <p class="col-12 col-sm-4 col-md-12">Email:email@email.com</p>
      <p class="col-12 col-sm-4 col-md-12">Contact No.: 0141 012 345</p>
      <p class="col-12 col-sm-4 col-md-12">Address: 123 Fake Avenue</p>
    </div>
    <div class="row social-media-icons">
      <p class="col-3 fb"></p>
      <p class="col-3 instagram"></p>
      <p class="col-3 twitter"></p>
      <p class="col-3 youtube"></p>
    </div>

  </div>
</div>
