@media only screen and (min-width: $breakpoint-phablet) {
  .testimonial-0 {
    .row {
      div {
        h2 {
          padding: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .first-layer {
    background-image: url("/assets/fixed-image/map-tablet.png");
  }

  .carousel {
    .carousel-inner {
      .carousel-item {
        .container {
          .carousel-caption {
            padding-left: 15%;
            padding-right: 15%;
          }
        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      font-size: 5rem;
      //box-shadow: -5px -5px 20px 0 $blue;
      //background-color: red;
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .text-area {
    .text-area-header {
      background-color: rgba(0, 0, 0, 0.5);
      font-size: 5rem;
      padding-top: 5rem;
    }

    .text-area-text {
      background-color: rgba(0, 0, 0, 0.75);
      font-size: 2.5rem;
      padding-top: 10rem;
    }
  }

  .testimonial-0 {
    .row {
      div {
        .myButton {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .footer {
    .column-3 {
      border-top: 0;
      border-bottom: 0;
    }
  }
}
@media only screen and (min-width: $breakpoint-bootstrap-lg) {
  .first-layer {
    background-image: url("/assets/fixed-image/map-992px.png");
  }

  .testimonial-0 {
    .row {
      div {
        .myButton {
          position: relative;
        }
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-laptop) {
  .text-area-header {
    text-align: center;
  }

  .navbar-nav {
    li {
      text-align: center;

      &:hover > div {
        display: block;
      }
    }

    li:hover > div {
      display: block;
    }

    li:nth-child(2) {
      width: 18.6rem;
    }

    li:nth-child(3) {
      width: 22.4rem;
    }

    li:nth-child(4) {
      width: 18.4rem;
    }

    li:nth-child(5) {
      width: 21.8rem;
    }

    .dropdown-menu {
      border-left: 1rem solid $blue;
      padding: 0;
      background-color: $white;
      transition: background-color 1s;

      a {
        &:hover {
          background-color: $blue;
          color: $white !important;
        }
      }
    }
  }

  .carousel-item {
    .container {
      .carousel-caption {
        opacity: 0.5;
        transition: opacity 1s;

        &:hover {
          opacity: 2.0;
        }
      }
    }
  }

  .gallery {
    @include default-gallery-settings;
  }

  .footer {
    div {
      //height: 300px;
    }
  }
}
@media only screen and (min-width: $breakpoint-1080p) {
  .navbar-nav {
    font-size: 3rem;

    li:nth-child(2) {
      width: 28.6rem;
    }

    li:nth-child(3) {
      width: 34.7rem;
    }

    li:nth-child(4) {
      width: 28.1rem;
    }

    li:nth-child(5) {
      width: 33.8rem;
    }

    .nav-item {
      .dropdown-menu {
        border-left: 1rem solid $blue;
        padding: 0;
        background-color: $white;
        transition: background-color 1s;

        a {
          font-size: 2.5rem;
          line-height: 10rem;

          &:hover {
            background-color: $blue;
            color: $white !important;
          }
        }
      }
    }
  }

  .testimonials {
    @include testimonial-base-styles-1080p;
  }

  .text-area {
    .text-area-text {
      font-size: 4.5rem;
    }
  }

  .carousel {
    .carousel-inner {
      .carousel-item {
        .container {
          .carousel-caption {
            @include carousel-caption-1080p;
          }
        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      font-size: 5rem;
      //box-shadow: -5px -5px 20px 0 $blue;
      //background-color: red;
      &:hover {
        background-color: rgba(0, 0, 0, 0.25);
      }
    }
  }

  .gallery {
    div {
      p {
        font-size: 2.5rem;
      }
    }
  }

  .footer {
    div {
      h4 {
        font-size: 3rem;
      }

      p {
        font-size: 2rem;
      }
    }
  }
}
@media only screen and (min-width: $breakpoint-2K) {
  .testimonials {
    @include testimonial-base-styles-2K;
  }

  .testimonial-0 {
    padding-top: 0;

    div {
      max-width: 84rem;
    }

    .row {
      img {
        max-width: 84%;
      }

      div {
        margin: 0;

        h2 {
          font-size: 4rem;
        }

        p {
          font-size: 2.3rem;
          width: 60rem;
        }

        .myButton {
          a {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  .text-area {
    .text-area-header {
      font-size: $h1-2K;
    }

    .text-area-text {
      div {
        h2 {
          font-size: $h2-2K;
        }

        p {
          font-size: 6rem;
        }
      }
      @include text-area-button-2K;
    }
  }
  //Carousel
  @include carousel-2K;
  //Gallery
  .gallery {
    @include gallery-settings-2K;
  }
  //Footer
  .footer {
    div {
      h4 {
        font-size: $h4-2K;
      }

      p {
        font-size: 3rem;
      }
    }
  }
}
