@mixin text-area-style {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 2rem;
}

@mixin generic-background-image-settings {
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
}
@mixin background-image-settings-contain {
  background-position: center;
  background-size: contain;
  background-repeat:no-repeat;
}

@mixin testimonial-base-styles {

  padding-bottom: 10rem;
  padding-top:5em;
  text-align: left;
  div{
    max-width: 900px;
    margin: 0 auto;
  }
}


@mixin navbar-navitem-border {
  border-left:1px solid;
  border-left-color:rgba(255, 255, 255, 0.058823529411764705);
  border-right: 1px solid;
  border-right-color: rgba(255, 255, 255, 0.058823529411764705);
}

@mixin first-2-column-styling {
  div{
    div{
      padding: 0;
    }
  }
}
