
//Colour Scheme
$blue: #103786;
$white: white;
$orange:#EC5824;
//Default Font
$header-font: "Mina", sans-serif;
$text-font: "Montserrat", sans-serif;

//Gallery
$gallery-transition-time:0.5s;

//Media Queries
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1200px;
