
//Colour Scheme
$blue: #103786;
$white: white;
$orange:#EC5824;
//Default Font
$header-font: "Mina", sans-serif;
$text-font: "Montserrat", sans-serif;

//Gallery
$gallery-transition-time:0.5s;

//Media Queries
$breakpoint-phablet: 576px;
$breakpoint-tablet: 768px;
$breakpoint-bootstrap-lg: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-1080p: 1920px;;
$breakpoint-2K: 2560px;

//Header-Sizes
$h1-2K: 10rem;
$h2-2K: 4rem;
$h3-2K: 3.75rem;
$h4-2K: 3rem;
