


<nav class="navbar navbar-expand-md">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon glyphicon glyphicon-align-justify"></span>

    <span><a class="navbar-brand" href="#" >Super MegaDrivez</a></span>

  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">

      <li class="nav-item ">
        <a class="nav-link" href="#">Introduction </a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">S - Tier </a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">Bugatti Chiron</a>
          <a class="dropdown-item" href="#">Ford GT 2018</a>
          <a class="dropdown-item" href="#">Ferrari La Ferrari</a>
          <a class="dropdown-item" href="#">McClaren F1 1996</a>
          <a class="dropdown-item" href="#">Porsche 918 Spyder</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tier - 1</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">Porsche 911 GT3</a>
          <a class="dropdown-item" href="#">Honda NSX 2017</a>
          <a class="dropdown-item" href="#">Mercedges AMG GT</a>
          <a class="dropdown-item" href="#">Ferrari 458 Speciale 2013</a>
          <a class="dropdown-item" href="#">Audi R8</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tier - 2</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">BMW i8</a>
          <a class="dropdown-item" href="#">Subaru WRX STI</a>
          <a class="dropdown-item" href="#">Ford Focus RS 2017</a>
          <a class="dropdown-item" href="#">BMW E3 </a>
          <a class="dropdown-item" href="#">BMW Z4</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tier - 3</a>
        <div class="dropdown-menu" aria-labelledby="dropdown08">
          <a class="dropdown-item" href="#">Jaguar F-Type</a>
          <a class="dropdown-item" href="#">Camaro 1LE</a>
          <a class="dropdown-item" href="#">Nissan Skyline R34 GTR</a>
          <a class="dropdown-item" href="#">Mitsibushi Lancer Evo X</a>
          <a class="dropdown-item" href="#">Volkswagen Golf R</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Booking</a>
      </li>


    </ul>
  </div>
</nav>
