<!-- Testimonals -->
<div class="fake-cars-wrapper testimonial-6  row">
  <div class="col-12 fake-cars-logos">
    <h3>Partners</h3>
    <div class="row">
      <div class="col-6 col-md-4 col-lg-2 fake-1"></div>
      <div class="col-6 col-md-4 col-lg-2  fake-2"></div>
      <div class="col-6 col-md-4 col-lg-2  fake-3"></div>
      <div class="col-6 col-md-4 col-lg-2  fake-4"></div>
      <div class="col-6 col-md-4 col-lg-2  fake-5"></div>
      <div class="col-6 col-md-4 col-lg-2  fake-6"></div>
    </div>

  </div>

</div>
